USE [master]
GO
/****** Object:  Database [DotNetTesting]    Script Date: 4/27/2024 8:57:34 PM ******/
CREATE DATABASE [DotNetTesting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DotNetTesting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DotNetTesting.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DotNetTesting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DotNetTesting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DotNetTesting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DotNetTesting]
GO
/****** Object:  Table [dbo].[Tbl_Blog]    Script Date: 4/27/2024 8:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Blog](
	[Blog_Id] [int] IDENTITY(1,1) NOT NULL,
	[Blog_Title] [varchar](50) NOT NULL,
	[Blog_Author] [varchar](50) NOT NULL,
	[Blog_Content] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Blog] PRIMARY KEY CLUSTERED 
(
	[Blog_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Blog] ON 

INSERT [dbo].[Tbl_Blog] ([Blog_Id], [Blog_Title], [Blog_Author], [Blog_Content]) VALUES (1, N'author 2', N'content 2', N'title 2')
INSERT [dbo].[Tbl_Blog] ([Blog_Id], [Blog_Title], [Blog_Author], [Blog_Content]) VALUES (4, N'string', N'string', N'string')
INSERT [dbo].[Tbl_Blog] ([Blog_Id], [Blog_Title], [Blog_Author], [Blog_Content]) VALUES (5, N'Lay Lwin Thu', N'Mya Than Tint', N'content is content')
SET IDENTITY_INSERT [dbo].[Tbl_Blog] OFF
GO
USE [master]
GO
